<form method="POST" action="search">
{% csrf_token %}
<label> Enter Number (separated with comma like +9185888XXXXX,+9198765XXXXX) </label>
    <br>
<input type="text" name="user_number">

<button type="submit">Release Number(s)</button>
</form>